<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit) = "onSubmit(dataForm)" #dataForm="ngForm">
        <div id="user-data" ngModelGroup="userData" #userDataRef="ngModelGroup">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" class="form-control" name="username" required [(ngModel)]="defaultDataInput.username">
          </div>
          <button class="btn btn-default" type="button">Suggest an Username</button>
          <div class="form-group">
            <label for="email">Mail</label>
            <input type="email" id="email" class="form-control" name="email" required email #email="ngModel" [(ngModel)]="defaultDataInput.email">
            <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email ! </span>
          </div>
        </div>
        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <select id="secret" class="form-control" name="secret" [(ngModel)]="defaultDataInput.secret">
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!dataForm.valid">Submit</button>
        <p *ngIf="!userDataRef.valid">User data is invalid.</p>
      </form>
    </div>
  </div>
</div>
